
<img class="col-sm; w-25; img-fluid" src="/images/foodimg.jpg" alt="Yummy food">

<br>

<hr/>

<div class="login-signup">





<div class="what-we-do"> 

<div class="icon">
<img class="rounded-circle" style="width:20%" src="/images/search-icon.jpeg" rel="search icon"> 
<h3 class="icon-text">Find a recipe you like</h1>
</div>



<br>
<br>

<div class="icon">
<img class="rounded-circle" style="width:20%" src="/images/list-icon.jpeg" rel="search icon">
<h3 class="icon-text">Find a recipe you like</h1>
</div>

<br>
<br>

<div class="icon">
<img class="rounded-circle" style="width:20%" src="/images/shopping-icon.jpeg" rel="search icon">
<h3 class="icon-text">Find a recipe you like</h1>
</div>

</div>



<div class="signin-form">
<h2>Login</h2>

<form action="/auth/login" method="POST" id="form-container">
  <label for="username">Username</label>
  <input id="username" type="text" name="username" placeholder="JonSnow">

  <br><br>

  <label for="password">Password</label>
  <input id="password" type="password" name="password" placeholder="Your password">
  <br>
  {{#if message }}
    <div class="error-message">{{ message }}</div>
  {{/if}}

  <br><br>

  <button id ="login-btn">Login</button>

  <p class="account-message">
    Don't have an account yet?
    <a href="/auth/signup">Signup</a>
  </p>
</form>
</div>


</div>

