<section class="signup">

  <div id="iconsandstuff">





  </div>

  <div class="signupforms">
    <br>
    
    <br><br><br>
    <form action="/auth/signup" method="POST" id="form-container">
    <h2 class="main-title">Kitchen Hack</h2>
      <label class="username" for="username">Username</label><br>
      <input class="username" id="username" type="text" name="username" placeholder="choose a username">

     <br><br>

      <label class="password" for="password">Password</label><br>
     <input class="password" id="password" type="password" name="password" placeholder="choose a password">
     <br>
      {{#if message }}
       <div class="error-message">{{ message }}</div>
     {{/if}}

        <br>

    <button class="signup-btn">Create account</button>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
      <p class="account-message">
        Do you already have an account? <br>
        <a href="/auth/login">Login</a>
      </p>
    </form>
  </div>

</section>











{{!-- <h2>Signup</h2>

<form action="/auth/signup" method="POST" id="form-container">
  <label for="username">Username</label>
  <input id="username" type="text" name="username" placeholder="JonSnow">

  <br><br>

  <label for="password">Password</label>
  <input id="password" type="password" name="password" placeholder="Your password">
  <br>
  {{#if message }}
    <div class="error-message">{{ message }}</div>
  {{/if}}

  <br><br>

  <button class="btn btn-light">Create account</button>

  <p class="account-message">
    Do you already have an account?
    <a href="/auth/login">Login</a>
  </p>
</form> --}}
