<h2>Create a new recipe</h2>

<form action="/addRecipe" method="post">

  <label for="title">Name of the dish:</label>
  <input type="text" name="title" id="title">
  <br>

  <label for="duration">Total preparation time (in minutes):</label>
  <input type="number" name="duration" id="duration" placeholder="0">
  <br>
  <p>Dish Type:
    <select id="dishType" name="dishType">
      <option value="Breakfast">Breakfast</option>
      <option value="Main">Main Course</option>
      <option value="Soup">Soup</option>
      <option value="Snack">Snack</option>
      <option value="Drink">Drink</option>
      <option value="Dessert">Dessert</option>
      <option value="Other">Other</option>
    </select>
  </p>

  <label for="description">Add directions/a description:</label>
  <input type="text" name="description" id="description">
  <br>

  <p>Which ingredients are needed?</p>
  <label for="quantity">Quantity</label>
  <input type="number" name="quantity" placeholder="1" id="quantity">


  <label for="name">Ingredient</label>
  <input type="text" name="name" placeholder="carrot" id="name">

  <br>
  <button type="submit">Add this recipe</button>

</form>