<h2>Create a new recipe</h2>

<form action="/addRecipe" method="post">

<label for="title">Name of the dish:</label>
<input type="text" name="title" id="title">

<label for="description">Add a description:</label>
<input type="text" name="description" id="description">

{{!-- // how to write the ingredients? --}}

<button type="submit">Add this recipe</button>

</form>