<h2>Recipe Details</h2>

<a href="/">Go back to overview</a>

{{#with recipe}}
<h3>{{title}}</h3>
<p>Duration: {{duration}}</p>
<p>Here's how to do it: {{description}}</p>
<p><img src="" alt="image"></p>
{{/with}}

<a href="/shopping-list">Add all ingredients to shopping list</a>