<div class="list">
  <h2>Your shopping list</h2>

  <form action="/shoppingList/update" method="POST">
  
  {{#each list}}
  <div>
  <p>
  <input type="number" value="{{this.quantity}}" name="quantity">{{this.name}}
  <input name="name" value="{{this.name}}" type="hidden" >
  <a href="/ingredients/remove/{{this.name}}">X</a>
  </p>
  </div>
  {{/each}}
  <p>Add addtional items to your list:</p>
  <input type="number" name="quantity" placeholder="0">
  <input type="text" name="name" placeholder="item"> <br> <br>
  <button type="submit">Update</button>
  </form>
</div>

