<div class="full-page">

<div class="recipe-item-page">

  <div class="to-add-item">

    <form action="/shoppingList/updateWithAdditionalItem" method="POST">

      <input type="text" name="name" placeholder="Add item" required>
      <button type="submit" class="btn btn-dark">+</button>

    </form>

  </div>

 
  <div class="list">

    <form action="/shoppingList/update" method="POST">

      {{#each list}}

      <div>

        <p>

          {{this.name}}

          <input name="name" value="{{this.name}}" type="hidden">

          <a href="/ingredients/remove/{{this.name}}">X</a>

        </p>

      </div>

      {{/each}}

    </form>

  </div>

</div>

</div>